*{
    margin: 0;
    padding: 0px;
 }


  body {
    margin-left: 10%;
    min-height: 100vh;
    background-color: #030103; /* Taustaväri */
}


h1 {
    font-family: "Funnel Display", sans-serif;
    font-size: 4rem;
    padding-bottom: 10px;
    color: aliceblue;

}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    font-size: 2rem;
    color: aliceblue;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 2rem;
    line-height: 1.6; 
    color: rgb(255, 89, 0);
}


/* NAVIGATION */  
nav {
    padding: 40px 0px;
  }
  
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex;
    align-items: center;
    }


  nav li {
    height: 50px;
  }

  nav a {
    
    height: 100%;
    padding: 0px 10px;
    text-decoration: none;
    color: black;
  }
  
  nav a:hover {
    color: #de4710; /* Vaaleampi väri kun hiiri on päällä */
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: hsla(142, 97%, 71%, 0.395);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column; /* Järjestää kohteet pystysuoraan */

  }
  .sidebar li{
    width: 100%;
  }

  .sidebar a{
    width: 100%;
  }

  .menu-button{
    display: none;
    position: fixed;
    top: 30px;
    right: 0;

  }


   /* RESPONSIIVISUUS */  

@media(max-width: 780px){
    .hideOnMobile{ 
    display: none;
}
.menu-button{
    display: block;
}
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

/* gridi säännöille etusivulle */

.grid-container {
            display: flex;
            max-width: 680rem;
            width: 100%;
            flex-wrap: wrap;
            justify-content: left;
            gap: 10px;
            margin-top: 60px;

        }
        .grid-item {
            background-color: #f6f9e9cc;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 
            0 0 10px rgb(255, 255, 255),
            inset 15px 15px 50px hsla(0, 0%, 100%, 0.772),
            inset -15px -15px 150px rgb(255, 255, 255);
            padding-left: 60px;
            padding-top: 40px;
            padding-right: 80px;
            padding-bottom: 50px;
            text-align: left;
            border-radius: 8px;
            max-width: 600px;
            min-width: 300px;
            max-height: 100%;
            min-height: 400px;
              }
        
          
        .p-grid-item {
            font-family: 'Consolas', monospace; 
            font-size: 14px;
            line-height: 1.2;
        }

          
          
          /* background gradient animation starts */


          .blob-outer-container{
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: -1;
            inset: 0;
            margin: auto;
            filter: blur(100px);
            

          }
    
          .blob-inner-container {
            border-radius: 99999px;
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100vw;
            height: 100vh;
            min-width: 1000px;
            overflow: hidden;
            transform: scale(1);

          }

          .blob {
            position: absolute;
            width: 100vw;
            height: 100vh;
            inset: 0;
            margin: auto;
            background: conic-gradient(from 0deg, #23072a, #294142, #386264, #FD8C52, #A23534, #88060f, #013030);
            animation: spinBlob 15s linear infinite;
          }

          @keyframes spinBlob {
            0% { 
                transform: rotate(0deg) scale(2);
            }

            100% {
                transform: rotate(1turn);
            }
          }

/* background gradient animation ends */