*{
    margin: 0;
    padding: 0px;
   
 }


  body { 
    min-height: 100vh;
    background-color: #030103; /* Taustaväri */
}


h1 {
    padding-top: 150px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    padding-bottom: 10px;
    color: #f0f8ff;

}

h2 {
    
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    color: aliceblue;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 28px;
    padding-bottom: 16px;
    padding-top: 20px;
    color: rgb(92, 15, 9);
}

h4 {
    font-family: "Questrial", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0px;
    font-size: 20px;
    color: rgb(25, 24, 23);
    padding-bottom: 5px;

}
  
.headline {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 100px;      

}

.headline-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;        

}
.topright { 
    position: fixed;       /* stays in the same place on the screen */
    top: 40px;             /* distance from top of the viewport */
    right: 140px;           /* distance from right edge */
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    z-index: 1000;         /* ensures it stays above other content */
    transition: transform 0.4s ease, opacity 0.4s ease;

    
}

.texttopright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;  
    width: 154px;
    font-family: "Questrial", sans-serif;
    font-size: 20px;
}



.leapin {
    width: 154px;
    height: 44px;
    background-color: #ff7f50;
    border-radius: 15px;
    border-style: hidden;
    color: #f0f8ff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    

}

/* Hover effect */
.leapin:hover {
    background-color: #0b0b0b; /* New color on hover */
    color: white; /* Optional text color change */
    cursor: grab;
  }

/* etusivun tekstilaatikot*/

.grid-container {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;        
            gap: 20px;
            margin-top: 40px;
          

        }
        .top-grid-item {
            background-color: #f6f9e9cc;
            box-shadow: 0 15px 35px #f3efef85, 0 0 15px #93989833;
            /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),  
            0 0 10px rgb(255, 255, 255),
            inset 15px 15px 50px hsla(0, 0%, 100%, 0.772),
            inset -15px -15px 150px rgb(255, 255, 255); */
            padding-left: 60px;
            padding-top: 40px;
            padding-right: 50px;
            padding-bottom: 50px;
            margin-right: 20px;
            margin-left: 20px;
            border-radius: 8px;
            max-width: 700px;
            min-width: 30%;
            max-height: 30%;
              }
        
        .grid-item {
            background-color: #f6f9e9cc;
            box-shadow: 0 15px 35px #f3efef85, 0 0 15px #93989833;
            /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),  
            0 0 10px rgb(255, 255, 255),
            inset 15px 15px 50px hsla(0, 0%, 100%, 0.772),
            inset -15px -15px 150px rgb(255, 255, 255); */
            padding-left: 60px;
            padding-top: 40px;
            padding-right: 50px;
            padding-bottom: 50px;
            margin-right: 20px;
            margin-left: 20px;
            border-radius: 8px;
            max-width: 700px;
            max-height: 30%;
                  }
          
        .p-grid-item {
            font-family: "Questrial", sans-serif;
            font-weight: 600;
            font-size: 24px;
            font-style: normal;
            letter-spacing: 1px;
            text-align: left;

        }

        p {

            font-family: "Questrial", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 1.2em;
            padding-bottom: 15px;
            

            
        }
          
          /* taustan liukuvärianimaation tyylit alkaa */


          .blob-outer-container{
            position: fixed;
            height: 100%;
            width: 100%;
            z-index: -1;
            inset: 0;
            margin: auto;
            filter: blur(100px);
          }
    
          .blob-inner-container {
            border-radius: 1000px;
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100vw;
            height: 100vh;
            min-width: 1000px;
            overflow: hidden;
            transform: scale(1);

          }

          .blob {
            position: absolute;
            width: 100vw;
            height: 100vh;
            inset: 0;
            margin: auto;
            background: conic-gradient(from 0deg, 
            #b84430, 
            hsla(9, 58%, 26%, 0.999),
            #ff9162b1,
            #6b3b27,
            hwb(24 5% 82%),
            #386264,
            hsla(179, 60%, 22%, 0.617),
            #011c30); 
           
            animation: spinBlob 17s linear infinite;
          }

          @keyframes spinBlob {
            50% { 
                transform: rotate(0deg) scale35;
            }

            100% {
                transform: rotate(1turn);
            }
          }

 /* taustan liukuvärianimaation tyylittelyt loppuu */



  
  /* RESPONSIIVISUUSASIAT alkaa */  


  @media screen and (min-width: 894px) {
    div.headline {
      font-size: 60px;
    }
  }
  
  /* If the screen size is 893px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 893px) {
    div.headline {
      font-size: 7vw;
    }
  }


  @media screen and (min-width: 894px) {
    div.headline-h2 {
      font-size: 30px;
    }
  }
  
    /* If the screen size is 893px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 893px) {
    div.headline-h2 {
      font-size: 3vw;
    }
  }


  /* siirtää buttonin ja tekstin keskelle, When the screen width is below 768px (tablet/mobile) */
@media (max-width: 768px) {
    .topright {
         left: 50%;
        right: auto;
        transform: translateX(-50%);
        justify-content: center;
    }

    .texttopright {
        align-items: center;
        text-align: center;
    }
}

  /* RESPONSIIVISUUSASIAT loppuu */  










/*footer */


footer {
  margin-top: 80vh;
  z-index: 500;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5rem 2vw;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgb(0, 0, 0)
  );
  z-index: -7;
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: calc(0.3 * var(--m)) calc(0.8 * var(--m));
  width: 28%;
}

.col2,
.col3 {
  background-color: #121212;
  border-radius: calc(0.5 * var(--m));
}

img {
  height: calc(0.3 * var(--m));
  object-fit: cover;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  width: calc(0.8 * var(--m));
  height: calc(0.8 * var(--m));
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: calc(0.1 * var(--m));

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
    :root {
      --m: 3rem;
    }
  }

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    padding: 5rem 20vw;
  }
  .col {
    width: 100%;
  }
}

  